version: "3.8"

x-common-env: &common-env
  CYCLONEDDS_URI: >-
    <CycloneDDS><Domain><Discovery><MaxAutoParticipantIndex>1000</MaxAutoParticipantIndex></Discovery><General><Interfaces><NetworkInterface name="lo" multicast="true"/></Interfaces></General></Domain></CycloneDDS>
  RMW_IMPLEMENTATION: rmw_cyclonedds_cpp
  ROS_DOMAIN_ID: "0"

services:

  # turtlebot-rviz:
  #   image: registry.gitlab.node-robotics.com/code/sandbox/roscon_preparation/turtlebot4_navigation-test:docker-test-kilted-amd64-4
  #   container_name: ros2-turtlebot4-rviz-kilted
  #   tty: True
  #   network_mode: host
  #   environment:
  #     <<: *common-env
  #     DISPLAY: ${DISPLAY}
  #     ROS_DISTRO: kilted
  #     QT_X11_NO_MITSHM: "0"
  #     QT_QPA_PLATFORM: xcb
  #     MESA_LOADER_DRIVER_OVERRIDE: radeonsi
  #   devices:
  #     - /dev/dri/renderD128:/dev/dri/renderD128
  #   ipc: host
  #   volumes:
  #     # X11 socket for GUI (read-only is usually fine)
  #     - /tmp/.X11-unix:/tmp/.X11-unix:ro

    # command: /bin/bash -c 'ros2 launch nav2_rviz_plugins route_tool.launch.py'
  turtlebot-gazebo:
    image: cinoderobotics/turtlebot4_navigation:kilted-amd64-v1.2.0
    container_name: ros2-turtlebot4-gazebo-kilted
    tty: True
    privileged: true  # needed for Gazebo GUI / hardware access

    environment:
      <<: *common-env
      DISPLAY: ${DISPLAY}
      ROS_DISTRO: kilted
      QT_X11_NO_MITSHM: "0"
      QT_QPA_PLATFORM: xcb

      # Gazebo rendering (GPU lidar needs this)
      GZ_RENDER_ENGINE: ogre
      GZ_GUI_CONFIG: ""
      vblank_mode: "0"
      MESA_LOADER_DRIVER_OVERRIDE: radeonsi
      LIBGL_DRI3_DISABLE: "0"
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
      - /dev/dri/card0:/dev/dri/card0
    ipc: host
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:ro
      - /dev/shm:/dev/shm
      - ./scripts/route_example_launch.py:/opt/ros/kilted/share/nav2_simple_commander/route_example_launch.py:ro
      - ./graphs/depot_graph.geojson:/opt/ros/kilted/share/nav2_bringup/graphs/depot_graph.geojson:rw
      - ./graphs/warehouse_graph.geojson:/opt/ros/kilted/share/nav2_bringup/graphs/warehouse_graph.geojson:rw

    command: /bin/bash -c 'ros2 launch nav2_simple_commander route_example_launch.py'
